/* ==========================================================================
   #TYPOGRAPHY
   ========================================================================== */

/**
 * Long-form comment.
 *
 * This spans multiple lines and is also constrained to no longer than 80
 * characters in width.
 *
 * 1. Provide line-comments like this.
 */

@include text-font($text-font-family);
@include headings-font($headings-font-family);
@include buttons-font($text-font-family);
@include inputs-font($text-font-family);

h1, h2, h3, h4, h5, h6 {
  @include subtletextshadow;
}

a:hover {
  color: $purple;
  @include transition;
}


/* Sub-title
   ========================================================================== */

/* ==========================================================================
   #BODY & TAB STRUCTURE
   ========================================================================== */

body {
    background: $beige;
}

.tab-live {
    padding: $space * 4;
}

/* ==========================================================================
   #HEADER & HERO
   ========================================================================== */

.navigation {
    background: $purple;
    padding: $space * 2;
    text-align: right;
}

.main-nav {
  ul {
      li {
          display: inline;
          padding: $space;
          a {
            font-family: $headings-font-family;
            @include subtletextshadow;
            text-decoration: none;
            color: $beige;
            &:hover {
                color: $orange;
                @include transition(all .2s ease-in-out);
            }
          }
      }
  }
}

.hero {
    width: 100%;
    height: 70vh;
    max-height: 80vw;

    //@include breakpoint(sm) {
    //    height: 150vh;
    //    max-height: 150vw;
    //}

    background: $orange;

    //vertical centering
    -webkit-flex-flow: column wrap;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack:center;
    -webkit-justify-content:center;
    -ms-flex-pack:center;
    justify-content:center;

}

.intro {
  padding: $space;
  h1, h2 {
    color: $beige;
    @include hardtextshadow;
  }
}

.intro-copy {
    @include breakpoint(lg) {
        margin-top: $space * 6;
    }
}

.headshot {
    @include img-circular(350px);
    background-image: url('/img/headshot3.jpg');
    margin: 0 auto;

    @include breakpoint(sm) {
        @include img-circular(300px);
    }

    box-shadow:
        0 10px 20px 0 rgba(23, 28, 33, 0.13),
        0 11px 13px 0 rgba(23, 28, 33, 0.05);
}

/* ==========================================================================
   #PROJECT SECTION
   ========================================================================== */

.proj {
    padding: $space * 2;
}

.tags {
    margin: 0;

    li {
        display: inline;
    }
}

hr {
    border-top: 1px solid $orange;
}

.description {
    //background: white;
    padding: $space;
}

.accordion-heading {
  display: block;
  background: $purple;
  color: white;
  padding: $space * 2;

  a {
      text-decoration: none;
      &:hover {
          color: inherit;
      }
  }

  &:hover {
      background: lighten($purple, 3%);
      @include transition;
  }

  .caret {
    color: $orange;
    font-weight: 800;
    @include subtletextshadow;
  }
}

/* ==========================================================================
   #SIDE PROJECTS
   ========================================================================== */
.project-side {
  aside, .screen {
    padding: $space;
  }
}

/* ==========================================================================
   #CONTACT PAGE
   ========================================================================== */
 .contact {
   h4 a {
     color: $orange;
     &:hover {
       color: $purple;
       @include transition;
     }
   }
 }

/* ==========================================================================
   #FOOTER
   ========================================================================== */

footer {
  background: $orange;
  padding: $space;
  a {
    text-decoration: none;
    color: white;
    &:hover {
      color: white;
    }
  }

  &:hover {
    background: $purple;
    @include transition;
  }
}
